.fade {
  position: relative;
  width: 100%;
  min-height: 30vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}

.scroll-container {
  display: flex;
  justify-content: center;
  height: 500px;
  perspective: 300px;
  color: #feda4a;
  font-size: 1.5em;
  letter-spacing: 6px;
  line-height: 150%;
  text-align: justify;
}

.scroll-text {
  position: relative;
  top: -50px;
  transform-origin: 50% 100%;
  position: relative;
  transform-origin: 50% 100%;
  animation: crawl 60s linear;
}

@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg) translateZ(0);
  }
  100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
