@import "../../variables.scss";

.card-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  background-color: $box-bg-color;

  h2 {
    grid-column: 1/7;
    text-transform: capitalize;
    font-family: $header-box-font;
    font-size: 1.5em;
    color: white;
  }
}

.loading {
  grid-column: 1/7;
}