@import "../../variables.scss";

* {
   box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: black;
  font-size: 16px;
  font-family: $main-font;
  width: 100%;
  padding-bottom: 40px;
}

a {
  text-decoration: none;
  font-family: $header-box-font;
  font-size: 1.6em;
  color: white;
}

button {
  border: none;
}




