@import url("https://fonts.googleapis.com/css?family=Bungee+Hairline|Bungee+Outline|Roboto|Roboto+Condensed");
* {
  box-sizing: border-box; }

.App {
  text-align: center;
  background-color: black;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding-bottom: 40px; }

a {
  text-decoration: none;
  font-family: "Bungee Hairline", cursive;
  font-size: 1.6em;
  color: white; }

button {
  border: none; }
