@import url("https://fonts.googleapis.com/css?family=Bungee+Inline|Roboto|Roboto+Condensed");
.App {
  text-align: center;
  background-color: turquoise;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  min-height: 100%;
  width: 100%; }

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.4em;
  color: white; }

button {
  border: none; }
