@import url("https://fonts.googleapis.com/css?family=Bungee+Inline|Roboto|Roboto+Condensed");
main {
  background-color: #434346;
  padding: 10px 20px; }

.card-box {
  min-height: 700px;
  background-color: #434346; }
