@import url("https://fonts.googleapis.com/css?family=Bungee+Hairline|Bungee+Outline|Roboto|Roboto+Condensed");
main {
  background-color: #2B2B2D;
  padding: 10px 20px 30px;
  margin: 0 auto;
  max-width: 1560px; }

.card-box {
  min-height: 660px;
  background-color: #2B2B2D; }

@media screen and (max-width: 1630px) {
  main {
    margin: 0 30px; } }

@media screen and (max-width: 570px) {
  main {
    margin: 0 40px; } }

@media screen and (max-width: 380px) {
  main {
    margin: 0 20px; } }
