@import url("https://fonts.googleapis.com/css?family=Bungee+Hairline|Bungee+Outline|Roboto|Roboto+Condensed");
.card {
  text-transform: capitalize;
  background-color: #B5B5B5;
  box-shadow: 1px 1px 3px black;
  width: 100%;
  border-radius: 25px;
  min-height: 260px; }
  .card h4 {
    font-weight: 400; }
  .card li {
    list-style: none;
    text-align: left;
    line-height: 140%;
    display: flex;
    margin: 10px 0; }
  .card ul {
    padding: 0 15px; }
  .card .card-header {
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 10px 15px;
    border-radius: 8px 8px 0 0; }

.star-btn {
  min-height: 27px;
  background-image: url("./star-black.svg");
  min-width: 27px; }
  .star-btn:hover {
    background-image: url("./star-black-outline.svg");
    cursor: pointer; }

.favorited {
  background-color: #787878; }
  .favorited .star-btn {
    background-image: url("./star-yellow.svg"); }

.attr {
  width: 50%;
  text-align: right; }

.value {
  font-family: "Roboto Condensed", sans-serif;
  width: 50%;
  padding-left: 5px; }

.people .card-header {
  background-color: #6A5671; }

.people .star-btn {
  background-color: #6A5671; }

.people .attr {
  color: #6A5671; }

.vehicles .card-header {
  background-color: #743B49; }

.vehicles .star-btn {
  background-color: #743B49; }

.vehicles .attr {
  color: #743B49; }

.planets .card-header {
  background-color: #41769F; }

.planets .star-btn {
  background-color: #41769F; }

.planets .attr {
  color: #41769F; }
