@import url("https://fonts.googleapis.com/css?family=Bungee+Inline|Roboto|Roboto+Condensed");
.card {
  text-transform: capitalize;
  background-color: #DCDCDC;
  box-shadow: 1px 1px 3px black;
  width: 100%; }
  .card li {
    list-style: none;
    text-align: left;
    line-height: 150%; }
  .card ul {
    padding: 0 15px; }
  .card .card-header {
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 46px;
    padding: 10px 25px; }

.star-btn {
  height: 27px;
  background-image: url("./star-black.svg");
  width: 27px; }
  .star-btn:hover {
    background-image: url("./star-black-outline.svg"); }

.favorited {
  background-color: #787878; }
  .favorited .star-btn {
    background-image: url("./star-yellow.svg"); }

.attr {
  font-family: "Roboto Condensed", sans-serif; }

.people .card-header {
  background-color: #6A5671; }

.people .star-btn {
  background-color: #6A5671; }

.vehicles .card-header {
  background-color: #8DC8AA; }

.vehicles .star-btn {
  background-color: #8DC8AA; }

.planets .card-header {
  background-color: #41769F; }

.planets .star-btn {
  background-color: #41769F; }
