@import "../../variables.scss";

.card {
  text-transform: capitalize;
  background-color: $card-bg-color;
  box-shadow: 1px 1px 3px black;
  width: 100%;
  border-radius: 25px;
  min-height: 260px;

  h4 {
    font-weight: 400;
  }

  li {
    list-style: none;
    text-align: left;
    line-height: 140%;
    display: flex;
    margin: 10px 0;
  }

  ul {
    padding: 0 15px;
  }

  .card-header {
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 10px 15px;
    border-radius: 8px 8px 0 0;
  }  
}

.star-btn {
  min-height: 27px;
  background-image: url('./star-black.svg');
  min-width: 27px; 

  &:hover {
    background-image: url('./star-black-outline.svg');
    cursor: pointer;
  }
}

.attr {
  width: 50%;
  text-align: right;
}

.value {
  font-family: $sub-font;
  width: 50%;
  padding-left: 5px;
}

.people {
  .card-header {
    background-color: $people-color;
  }

  .star-btn {
    background-color: $people-color;
  }

  .attr {
    color: $people-color;
  }
}

.vehicles {
  .card-header {
    background-color: $vehicles-color;
  }

  .star-btn {
    background-color: $vehicles-color;
  }

  .attr {
    color: $vehicles-color;
  }
}

.planets {
  .card-header {
    background-color: $planets-color;
  }

  .star-btn {
    background-color: $planets-color;
  }

  .attr {
    color: $planets-color;
  }
}

.favorites {
  .card-header {
    background-color: $favorites-color;
  }

  .star-btn {
    background-color: $favorites-color;
  }

  .attr {
    color: $favorites-color;
  }
}

.favorited {
  background-color: $card-active-bg-color;

  .attr {
    color: white;
  }

  .star-btn {
    background-image: url('./star-yellow.svg');
  }
}