@import "../../variables.scss";

.header {
  height: 150px;
  background-image: url('./starrynight1.jpg');
  background-color: turquoise;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;

  h1 {
    color: $header-color;
    font-family: $header-font;
    margin: 0;
  }

  p {
    font-size: 16px;
  }
}

.fav-btn {
  background-color: $fav-btn-color;
}

.fav-box {
  display: flex;
  height: 40px;
  align-items: center;
  width: 115px;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 0 10px;
}