@import url("https://fonts.googleapis.com/css?family=Bungee+Hairline|Bungee+Outline|Roboto|Roboto+Condensed");
.header {
  height: 150px;
  background-image: url("./starrynight1.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8em; }
  .header h1 {
    color: white;
    font-family: "Bungee Outline", cursive;
    margin: 0;
    text-shadow: 3px 3px 4px black; }
  .header p {
    font-size: 16px; }

.fav-btn {
  background-color: #5F8773; }

.fav-box {
  display: flex;
  height: 40px;
  align-items: center;
  width: 170px;
  justify-content: space-between;
  background-color: #2B2B2D;
  color: white;
  padding: 0 10px;
  position: absolute;
  right: 50px; }

@media screen and (max-width: 850px) {
  .header {
    height: 200px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px; }
  .fav-box {
    position: relative;
    margin: 0 auto; } }

@media screen and (max-width: 392px) {
  .header {
    height: 300px; } }
