
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Roboto|Roboto+Condensed');


// Colors
$header-color: white;
$btn-1-color: #6A5671;
$btn-2-color: #41769F;
$btn-3-color: #8DC8AA;
$btn-shadow: #2E3532;
$fav-btn-color: #8D4858;

$people-color: #6A5671;
$planets-color: #41769F;
$vehicles-color: #8DC8AA;

$nav-bg-color: #787878;
$main-bg-color: #434346;
$box-bg-color: #434346;
$card-bg-color: #DCDCDC;
$card-active-bg-color: #787878;

// Fonts
$header-font: 'Bungee Inline', cursive;
$main-font: 'Roboto', sans-serif;
$sub-font: 'Roboto Condensed', sans-serif;
