@import url("https://fonts.googleapis.com/css?family=Bungee+Inline|Roboto|Roboto+Condensed");
nav {
  padding: 20px 0;
  background-color: #787878;
  border-bottom: 2px solid #BDC0B6; }
  nav button {
    padding: 5px 12px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #2E3532; }

.btn-box {
  width: 400px;
  margin: auto;
  display: flex;
  justify-content: space-between; }

.btn-1 {
  background-color: #6A5671; }

.btn-2 {
  background-color: #41769F; }

.btn-3 {
  background-color: #8DC8AA; }
