@import "../../variables.scss";

nav {
  padding: 20px 0;
  background-color: black;
  width: 50%;
  border-radius: 25px;
  margin: 35px auto;
  border: 1.5px solid white;

  button {
    padding: 5px 12px;
    border-radius: 10px;
    box-shadow: 0 2px 3px $btn-shadow;

    &:hover {
      cursor: pointer;
    }
  }
}

.btn-box {
  width: 460px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.btn-1 {
  background-color: $btn-1-color;

  &:hover {
    background-color: $btn-1-hover;
  }
}

.btn-2 {
  background-color: $btn-2-color;

  &:hover {
    background-color: $btn-2-hover;
  }
}

.btn-3 {
  background-color: $btn-3-color;

  &:hover {
    background-color: $btn-3-hover;
  }
}

@media screen and (max-width: 1020px) {
  nav {
    width: 65%;
  }
}

@media screen and (max-width: 780px) {
  nav {
    width: 75%;
  }
}

@media screen and (max-width: 680px) {
  nav {
    width: 200px;
    height: 170px;

    button {
      width: 150px;
    }
  }

  .btn-box {
    flex-direction: column;
    height: 100%;
    align-items: center;
    width: 100%;
  }
}